@import "~antd/dist/antd.css";

@import "./utils/variables";

@import "./layout";
@import "./pages/pages";

.ant-form-item.v-center {
  display: flex;
  align-items: center;
  &.ant-form-item-with-help .ant-form-item-label {
    margin-bottom: 20px;
  }
}

.isoBoxTitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.ant-modal-close-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
